<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DB_Fly" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\anton\source\repos\coursework_2023_sell_ticket\coursework_2023_sell_ticket\DB_Fly.mdf;Integrated Security=True"/>
 </connectionStrings>
 <system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlClient" />
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
			<add name="Microsoft Data Provider for SQL Server" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for SQL Server" type="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient" />
		</DbProviderFactories>
	</system.data>
</configuration>